<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>brown_bunny.png</key>
			<dict>
				<key>frame</key>
				<string>{{1178,0},{389,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{62,0},{389,512}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>

			<key>green_bunny.png</key>
			<dict>
				<key>frame</key>
				<string>{{788,0},{389,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{62,0},{389,512}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>

			<key>red_bunny.png</key>
			<dict>
				<key>frame</key>
				<string>{{394,0},{393,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{60,0},{393,512}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>

			<key>white_bunny.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{393,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{61,0},{393,512}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>