<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>trucxanh1.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{0,1444},{480,360}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,360}}</string>
				<key>sourceSize</key>
				<string>{480,360}</string>
			</dict>

			<key>trucxanh10.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{480,360}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,360}}</string>
				<key>sourceSize</key>
				<string>{480,360}</string>
			</dict>

			<key>trucxanh2.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{481,1083},{480,360}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,360}}</string>
				<key>sourceSize</key>
				<string>{480,360}</string>
			</dict>

			<key>trucxanh3.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{481,722},{480,360}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,360}}</string>
				<key>sourceSize</key>
				<string>{480,360}</string>
			</dict>

			<key>trucxanh4.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{481,361},{480,360}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,360}}</string>
				<key>sourceSize</key>
				<string>{480,360}</string>
			</dict>

			<key>trucxanh5.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{481,0},{480,360}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,360}}</string>
				<key>sourceSize</key>
				<string>{480,360}</string>
			</dict>

			<key>trucxanh6.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{481,1444},{480,360}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,360}}</string>
				<key>sourceSize</key>
				<string>{480,360}</string>
			</dict>

			<key>trucxanh7.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{0,1083},{480,360}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,360}}</string>
				<key>sourceSize</key>
				<string>{480,360}</string>
			</dict>

			<key>trucxanh8.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{0,722},{480,360}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,360}}</string>
				<key>sourceSize</key>
				<string>{480,360}</string>
			</dict>

			<key>trucxanh9.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{0,361},{480,360}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,360}}</string>
				<key>sourceSize</key>
				<string>{480,360}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,2048}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>